.navbar {
    width: 96%;
    height: 48px;
    display: flex;
    align-items: center;
    background-color: #333333;
    padding: 0 2%;
    gap: 5%;
    align-items: center;
    margin-bottom: 1%;
}

.navlink {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}