.navbar {
    width: 96%;
    height: 48px;
    display: flex;
    align-items: center;
    background-color: #333333;
    padding: 0 2%;
    gap: 5%;
    align-items: center;
}

.navlink {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navlink:hover {
    cursor: pointer;
}

.popup-overlay {
    background-color: #00000066;
}

.about-popup {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}